.container {
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 1px solid black;

}

.btn-wrapper {
    width: 100%;
}

button {
    width: 100%;
}

.text {
    height: 0;
    overflow: hidden;
    transition: height 1s;
}
